input[type=number] {
  width: 70px;
}

p.caption {
  font-size: 25px;
  font-weight: bold;
}

.product-container {
  padding: 5px;
}

:host {
  position: fixed;
  height: 100%;
  border-left: 2px solid #cecece;
  padding-left: 20px;
}