<div *ngIf="product" class="product-container" >
  <p class="caption">{{product.name}}</p>
  <p>{{ getLongDescription() }}</p>
  <p><b>Price: </b>{{product.price | currency :  'UAH' }}</p>
  <p><b>category: </b>{{getProductCategoryEnumString() | uppercase }}</p>
  <p><b>is available:</b>
      <input type="checkbox" [checked]="product.isAvailable" readonly disabled>
  </p>
  
  <p><b>ingredients: </b>{{product.ingredients.join(', ')}}</p>
  <p *ngIf="hasEquivalents()"><b>equivalents: </b>{{product.equivalents.join(', ')}}</p>
  <div class="form-inline">
    <input type="number" value="1" class="form-control" min="1"
      #amount 
      (click)="0" 
      (keyup)="0"
      [disabled]="getDisabledAttrValue()">
    <input type="button" value="Add to cart" class="btn btn-primary" 
      [disabled]="getDisabledAttrValue()"
      (click)="addToCart(amount.value)">
  </div>
</div>
<hr>
