p.caption {
  font-size: 25px;
  font-weight: bold;
}

.margin-top-40 {
  margin-top: 40px;
}

li {
  margin: 0px;
  padding: 5px;
}

li.success {
  background-color: rgb(217, 254, 217);
}

li.failed {
  background-color: rgb(255, 225, 225);
}