<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="pannel-title">
      Product Form (ID = {{ product.id || '?' }})
    </h4>
  </div>
  <div class="panel-body">
    <form *ngIf="product" 
      (ngSubmit)="saveProduct()"
      id="product-form"
      #form="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" 
          class="form-control" 
          id="name"
          name="name"
          placeholder="Name"
          required [(ngModel)]="product.name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" 
          class="form-control" 
          id="description"
          name="description"
          placeholder="Description"
          [(ngModel)]="product.description">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" 
          class="form-control" 
          id="longDescription"
          name="longDescription"
          placeholder="Full Description"
          [(ngModel)]="product.longDescription"></textarea>
      </div>
      <div class="form-group">
        <label for="isAvailable">Availability</label>
        <input type="checkbox" 
          id="isAvailable"
          name="isAvailable"
          [(ngModel)]="product.isAvailable">
      </div>
      <button type="submit"
        class="btn btn-primary"
        form="product-form"
        [disabled]="form.invalid">Save
      </button>
      <button type="button"
        class="btn btn-primary"
        (click)="goBack()">Back
      </button>
    </form>
  </div>
</div>