/* You can add global styles to this file, and also import other style files */
ul { 
  list-style: none;
  padding: 0px;
}

table, th, td {
  border: 1px solid black;
}

td, th {
  padding: 5px;
}

.current {
  background-color: #c5c5c5;
}