<div *ngIf="hasItems()">
  <p class="caption">
    Your cart:
    <input type="button" class="btn btn-danger" value="Clear"
      (click)="clearCart()">
    Sort by:
    <select [(ngModel)]="sortCriteria">
      <option *ngFor="let option of sortOptions" value="{{ option.property }}">{{ option.displayName }}</option>
    </select>

    <input type="button" class="btn btn-primary" value="{{ getSortDirectionString() }}"
      (click)="toggleSortDirection()">
  </p>
  <ul>
    <li *ngFor="let item of cartItems | cartsort : sortCriteria : isDescending" [ngClass]="{ selected: isSelected(item) }">
      <app-cart-item 
        [cartItem]="item" 
        (removeEvent)="onRemoveCartItem($event)"
        (selectEvent)="onSelect($event)"
        ></app-cart-item>
    </li>
  </ul>
  <p>Total items: {{cartService.totalItems()}}</p>
  <p>Total price: {{cartService.totalPrice() | currency: 'UAH' }}</p>

  <div class="form-inline">
    <input type="button" class="btn btn-success" value="Buy it!"
      (click)="buy()">
    <input type="button" class="btn btn-danger" value="Cancel"
      (click)="cancelCart()">
  </div>
</div>
<div *ngIf="!hasItems()">
  <p class="caption">Your cart is empty</p>
</div>